body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.content-container {
  flex-grow: 1;
  flex-direction: row-reverse;
  display: flex;
  overflow: hidden;
}

.map-container {
  width: 50%;
}

.list-container {
  overflow-y: scroll;
  width: 50%;
}

#stop-map {
  height: 100%;
}
